<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title><%- title %></title>

     <!--安卓手機板網址顏色-->
     <meta name="theme-color" content="#AA0601">

     <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
     <link rel="stylesheet" href="assets/style/all.css"> 


</head>

<body class="">

    <header class="header">

        <div class="container">

            <h1 class="logo">
                <a href="home.html">
                    EXHIBINECTION
                </a>
            </h1>

            <ul class="headerMemberArea list-unstyled">
                <li>
                    <a href="#">Sign in</a>
                </li>
                <li>
                    <a href="#">Sign up</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-filter-square-fill"><span>3</span></i></a>
                </li>
            </ul>

        </div>

    </header>


    <div class="banner" style="background-image: url(https://hexschool.github.io/webLayoutTraining1st/exhibition-week6/ricardo-gomez-angel-j5gCOKZdm6I-unsplash.jpg);">

        <div class="bannerIn">
            <h2>台北當代藝術展</h2>
            <p>01 JUN - 31 OCT</p>
            <div class="btnArea">
                <input type="button" value="購買票券" name="" id="" class="btn btn-secondary">
                <input type="button" value="詳細資訊" name="" id="" class="btn btn-success">
            </div>
        </div>

    </div>

    <div class="navbar">
        <div class="container">
            <div class="nav"><a href="#">音樂</a></div>
            <div class="nav"><a href="#">戲劇</a></div>
            <div class="nav"><a href="#">設計</a></div>
            <div class="nav"><a href="#">藝術</a></div>
            <div class="nav"><a href="#">美食</a></div>
            <div class="nav"><a href="#">旅遊</a></div>
            <div class="nav"><a href="#">電影</a></div>
            <div class="nav"><a href="#">親子</a></div>
            <div class="nav"><a href="#">期間限定</a></div>
        </div>
    </div>

  <%- contents %>


    <!-- 版腳 -->
    <footer class="footer">

      <div class="container">

          <div class="footerL">

              <h1 class="footerLogo">
                  <a href="home.html">
                      EXHIBINECTION
                  </a>
              </h1>
      
              <div class="copyright">
                  <a href="#">© 2020. All Rights Reserved.</a>
              </div>

          </div>

          <ul class="footerMemberArea list-unstyled">
              <li>
                  <a href="#">Sign in</a>
              </li>
              <li>
                  <a href="#">Sign up</a>
              </li>
          </ul>

      </div>

  </footer>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>
