@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 1200px) {
    .container {
      max-width: 80%; } }
  @media (max-width: 768px) {
    .container {
      max-width: 90%; } }

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }

img {
  width: 100%;
  height: auto; }

h2 {
  color: #000;
  font-size: 32px;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  padding-bottom: 24px; }
  @media (max-width: 768px) {
    h2 {
      padding-left: 15px; } }

h3 {
  font-size: 20px;
  color: #000;
  padding: 0;
  margin: 0 0 4px;
  font-weight: bolder; }

a {
  text-decoration: none; }

.header {
  padding: 28px 0; }
  .header .logo {
    font-size: 24px;
    text-align: center;
    margin: 0 auto; }
    .header .logo a {
      color: #630834;
      display: block; }

.header .container {
  position: relative; }

.headerMemberArea {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -16px;
  padding: 0; }
  .headerMemberArea li {
    padding: 0;
    margin: 0px; }
    .headerMemberArea li a {
      color: #630834;
      display: block;
      padding: 0 16px; }
      .headerMemberArea li a i {
        font-size: 20px;
        position: relative;
        color: #000; }
      .headerMemberArea li a span {
        font-size: 12px;
        display: block;
        background-color: #E31277;
        color: #fff;
        text-align: center;
        font-style: normal;
        border-radius: 50%;
        padding: 0 5px;
        position: absolute;
        top: -3px;
        right: -8px; }
    @media (max-width: 768px) {
      .headerMemberArea li:first-of-type, .headerMemberArea li:nth-of-type(2) {
        display: none; } }

.navbar {
  background-color: #fff;
  border-bottom: 1px #707070 solid;
  padding: 0;
  margin: 0;
  display: block;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset; }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: unset; }
  @media (max-width: 768px) {
    .navbar {
      height: 52px;
      /* 隱藏下方捲軸 */
      overflow-y: hidden; }
      .navbar .container {
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
        padding-bottom: 16px;
        /* 隱藏下方捲軸 */
        overflow-x: scroll;
        white-space: pre; } }

.nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }
  .nav a {
    color: #707070;
    padding: 14px 26px; }
  @media (max-width: 1200px) {
    .nav a {
      padding: 14px 20px; } }
  @media (max-width: 768px) {
    .nav a {
      padding: 14px 15px; } }

.footer {
  padding: 28px 0; }
  .footer .footerLogo {
    font-size: 24px;
    padding: 0;
    margin: 0; }
    .footer .footerLogo a {
      color: #000;
      display: block; }
  .footer .copyright {
    padding-left: 16px; }
    .footer .copyright a {
      font-size: 16px;
      color: #000; }
  @media (max-width: 768px) {
    .footer .footerLogo {
      font-size: 22px; }
    .footer .copyright {
      padding: 0; } }

.footer .container {
  position: relative; }
  .footer .container .footerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .footer .container .footerL {
        display: block;
        -webkit-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset; } }

@media (max-width: 768px) {
  .footer {
    max-width: 90%; } }

.footerMemberArea {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -16px;
  padding: 0; }
  .footerMemberArea li {
    padding: 0;
    margin: 0px; }
    .footerMemberArea li a {
      color: #707070;
      display: block;
      padding: 0 16px; }
      .footerMemberArea li a i {
        font-size: 20px;
        position: relative;
        color: #000; }
  @media (max-width: 768px) {
    .footerMemberArea {
      display: none; } }

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .bannerIn {
    padding-left: 180px; }
    .banner .bannerIn h2 {
      font-size: 32px;
      color: #fff;
      padding: 0;
      margin: 0 0px 8px; }
    .banner .bannerIn p {
      font-size: 20px;
      color: #fff;
      font-family: 'Roboto', sans-serif; }
    .banner .bannerIn .btnArea {
      margin-top: 16px; }
      .banner .bannerIn .btnArea .btn-secondary {
        background-color: #E31277;
        border-color: #E31277;
        color: #fff;
        height: 44px;
        width: 160px;
        margin-right: 8px; }
      .banner .bannerIn .btnArea .btn-success {
        height: 44px;
        width: 160px;
        color: #fff !important;
        background-color: #ffffff00 !important;
        border-color: #ffffff !important; }
      @media (max-width: 768px) {
        .banner .bannerIn .btnArea .btn-secondary, .banner .bannerIn .btnArea .btn-success {
          width: 140px; } }
    @media (max-width: 768px) {
      .banner .bannerIn {
        padding-left: 5%; } }

.main {
  padding: 60px 0 0; }

.exhibitionBg {
  padding-bottom: 60px; }
  .exhibitionBg .container .exhibitionArea {
    margin-top: -20px; }
  @media (max-width: 768px) {
    .exhibitionBg {
      padding-bottom: 24px; }
      .exhibitionBg .container {
        max-width: 100%; }
        .exhibitionBg .container .exhibitionArea {
          margin-top: -16px; } }

.exhibitionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #EFEFEF;
  margin: 20px 0; }
  .exhibitionList .exhibitionImg {
    padding: 0; }
    .exhibitionList .exhibitionImg span {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%; }
  @media (max-width: 768px) {
    .exhibitionList {
      padding: 24px 15px;
      display: block;
      -ms-flex-wrap: unset;
          flex-wrap: unset;
      margin: 16px 0; }
      .exhibitionList .exhibitionImg {
        width: 100%;
        margin-bottom: 8px; }
        .exhibitionList .exhibitionImg span {
          height: auto;
          padding-top: 100%; } }

.exhibitionR {
  padding: 40px 133px 40px 24px; }
  .exhibitionR h3 span a {
    color: #000;
    display: none; }
  .exhibitionR h3 .date {
    display: none; }
  .exhibitionR .price {
    font-size: 20px;
    color: #000;
    margin: 0 0 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
  .exhibitionR p {
    font-size: 20px;
    color: #000; }
  .exhibitionR .btnArea {
    margin-top: 34px; }
    .exhibitionR .btnArea .btn-primary {
      color: #fff;
      margin-right: 8px;
      background-color: #630834;
      border: #630834 1px solid; }
    .exhibitionR .btnArea .btn-success {
      border: #630834 1px solid;
      color: #630834;
      background-color: #fff0; }
  @media (max-width: 768px) {
    .exhibitionR {
      width: 100%;
      padding: 0px; }
      .exhibitionR h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .exhibitionR h3 span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .exhibitionR h3 span a {
            display: block;
            margin-left: 8px; }
        .exhibitionR h3 .date {
          display: block;
          padding: 0;
          font-size: 12px; } }

.exhibitionList .date {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 40px 24px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .exhibitionList .date li a i {
    color: #000;
    font-size: 20px; }
  @media (max-width: 768px) {
    .exhibitionList .date {
      display: none; } }

.liveBg .liveArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0 0 60px; }

@media (max-width: 768px) {
  .liveBg {
    margin-bottom: 24px; }
    .liveBg h2 {
      padding-left: 0px; } }

.liveLeft {
  padding: 40px 20px;
  background-color: #190014CC;
  color: #fff; }
  .liveLeft h3 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 32px;
    color: #fff; }
  .liveLeft .liveImg {
    width: 128px; }
    .liveLeft .liveImg span {
      display: block;
      position: relative;
      padding-top: 100%; }
      .liveLeft .liveImg span img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        float: none;
        width: 100% !important;
        height: 100% !important;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        transition: 0.3s ease all; }
  .liveLeft h4 {
    font-size: 20px;
    font-weight: bolder;
    margin: 12px 0; }
  .liveLeft p {
    font-size: 20px; }
  .liveLeft .btn-secondary {
    color: #fff;
    margin-right: 8px;
    background-color: #E31277;
    border: #E31277 1px solid; }
  @media (max-width: 768px) {
    .liveLeft {
      padding: 36px 20px;
      width: 100%; } }

.likeBg {
  padding-bottom: 60px; }
  .likeBg .likeArea {
    margin: 0 -15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  @media (max-width: 768px) {
    .likeBg h2 {
      padding-left: 0px; }
    .likeBg .likeArea {
      margin: 0px;
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset; } }

.likeList {
  padding: 0 15px; }
  .likeList .likeImg {
    height: 350px; }
    .likeList .likeImg span {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%; }
  .likeList h3 {
    font-size: 20px;
    margin: 4px 0; }
    .likeList h3 a {
      color: #000;
      text-decoration: none; }
  .likeList .price {
    font-size: 20px;
    color: #000;
    margin: 0 0 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
  @media (max-width: 1200px) {
    .likeList {
      width: 33.3%; } }
  @media (max-width: 768px) {
    .likeList {
      padding: 0 0px;
      margin-bottom: 16px;
      width: 100%; }
      .likeList .likeImg {
        height: auto; }
        .likeList .likeImg span {
          padding-top: 100%;
          height: auto; } }

.subscriptionBg {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .subscriptionBg h2 {
    color: #fff; }

.subscriptionBtn {
  padding: 22px 0 36px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .subscriptionBtn .col-auto {
    margin: 0;
    padding: 0;
    height: 48px; }
    @media (max-width: 414px) {
      .subscriptionBtn .col-auto .form-control {
        width: 136px; } }

.subscriptionBtn .form-control {
  height: 48px;
  width: 214px;
  border-radius: 0;
  padding: 12px;
  margin: 0;
  border-radius: 4px 0 0 4px; }

.subscriptionBtn .btn-secondary {
  height: 48px;
  width: 136px;
  background-color: #E31277;
  border-color: #E31277;
  color: #fff;
  margin: 0;
  border-radius: 0px 4px 4px 0px; }

.inmain {
  padding: 24px 0 40px;
  border-top: 1px #707070 solid; }

.checkoutTop {
  padding: 0;
  margin: 0; }

.checkoutStepArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 28px;
  margin: 0; }
  .checkoutStepArea li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    text-align: center;
    font-size: 16px;
    font-weight: bolder; }
    .checkoutStepArea li span {
      display: inline-block;
      background-color: #E31277;
      width: 100%;
      height: 2.5px;
      position: relative; }
      .checkoutStepArea li span:before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        top: -2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        background-color: #E31277;
        border-radius: 50%;
        border: 1px #E31277 solid; }
  .checkoutStepArea li.active span:before {
    background-color: #fff; }
  @media (max-width: 768px) {
    .checkoutStepArea li {
      font-size: 12px; } }

.checkoutArea {
  padding: 0;
  margin: 0; }
  .checkoutArea .table tr {
    border-color: white; }
    .checkoutArea .table tr th {
      width: 160px;
      padding: 0 0 20px;
      vertical-align: middle; }
    .checkoutArea .table tr td {
      vertical-align: middle;
      padding: 0 0 20px 15px;
      border-color: #fff0; }
      .checkoutArea .table tr td.price {
        font-size: 20px;
        font-weight: bolder; }
      .checkoutArea .table tr td.close {
        padding-left: 104px; }
        .checkoutArea .table tr td.close .btn-close {
          text-align: right;
          font-size: 16px;
          padding: 0px; }
    @media (max-width: 768px) {
      .checkoutArea .table tr {
        position: relative; }
        .checkoutArea .table tr th {
          width: 50%;
          padding-right: 15px;
          vertical-align: top; }
        .checkoutArea .table tr td {
          vertical-align: top;
          padding: 0 0;
          width: 50%; }
          .checkoutArea .table tr td.price {
            font-size: 20px;
            font-weight: bolder;
            display: none; }
          .checkoutArea .table tr td.close {
            padding: 0px;
            position: absolute;
            right: 0;
            text-align: right; } }

.quantityArea {
  font-size: 24px;
  text-align: center;
  height: 26px;
  overflow: hidden; }
  .quantityArea .mb-3 .btn-outline-secondary {
    border-color: #6c757d00;
    width: 24px;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center; }
  .quantityArea .mb-3 .form-control {
    text-align: center;
    border-color: #6c757d00;
    width: 12px;
    padding: 0 !important;
    margin: 0 !important; }
  @media (max-width: 768px) {
    .quantityArea {
      display: none; } }

.checkoutArea img {
  width: 100%;
  height: auto; }

.information h3 {
  font-size: 24px;
  margin: 0;
  padding: 0 0 4px; }

.information span {
  font-weight: bolder;
  display: block;
  font-size: 16px; }
  .information span:nth-of-type(2) {
    color: #707070;
    padding-top: 4px;
    font-weight: normal; }

.information .num {
  display: none; }

.information .priceMob {
  display: none; }

@media (max-width: 768px) {
  .information h3 {
    font-size: 16px; }
  .information span {
    font-size: 16px; }
    .information span:nth-of-type(2) {
      display: inline-block; }
  .information .num {
    display: inline-block;
    font-size: 20px;
    color: #000; }
  .information .priceMob {
    display: inline-block;
    font-size: 20px;
    color: #000;
    padding-left: 15px; } }

.checkoutBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  margin: 0; }

.subtotalArea {
  font-size: 20px;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 222px 0 14px;
  margin: 0; }
  .subtotalArea li {
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .subtotalArea li:first-of-type {
      text-align: left; }
  @media (max-width: 768px) {
    .subtotalArea {
      padding: 89px 0 14px; } }

.next {
  background-color: #E31277;
  border-color: #E31277;
  font-size: 16px;
  padding: 10px 0; }

/*# sourceMappingURL=all.css.map */
